.reveal.slide {
    background-image: url("../images/onepoint-white.png"), url("../images/logo.svg"), url("../images/chainedespuys.jpg");
    background-size: 200px, 150px, cover;
    background-position:  bottom center, bottom left, bottom;
    background-repeat: no-repeat, no-repeat, no-repeat;
    color: white;
}

.sponso {
    background-image: url("./sponso.png");
}

.reveal section img {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
}


.reveal section.img-lighter img {
    background: rgba(255, 255, 255, 0.8);
}


.reveal section.no-img-background img {
    padding: 25px;
    background: none;
    border: none;
    box-shadow: none;
}

.reveal h2, .reveal h3 {
    text-transform: none;
}

.reveal h3 {
    font-size: 1.0em;
}

code {
    font-size: 0.7em;
}

.reveal .controls {
    color: forestgreen;
}

.reveal .progress {
    color: forestgreen;
}


/* First page design */

.entrypoint h1 {
    display: none;
    opacity: 0 !important;
}

.entrypoint .tableblock td:first-child {
    border-right: 1px solid;
}

.entrypoint .yann-intro, .entrypoint .yann-name, .entrypoint .yann-role {
    text-align: center;
}

.entrypoint .yann-name {
    font-size: smaller;
    margin-top: -50px;
}

.entrypoint .yann-role {
    font-size: x-large;
}

.entrypoint .imageblock.yann-intro img {
    text-align: center;
    width: 70%;
    border-radius: 50%;
}

.entrypoint .yann-intro-title {
    margin-top: 100px;
    font-weight: bold;
}


.entrypoint .yann-intro-event {
    margin-top: 100px;
    font-size: smaller;
}

/* End of first page desing */
